.frame {
  position: relative;
  width: 1440px;
  height: 92px;
}

.frame .navbar {
  position: absolute;
  width: 363px;
  height: 92px;
  top: -1px;
  left: 906px;
}

.frame .text-wrapper {
  left: 0;
  color: #f4fa1a;
  position: absolute;
  width: 102px;
  height: 92px;
  top: 0;
  font-family: "Roboto Slab-Black", Helvetica;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div {
  left: 79px;
  color: #ffffff;
  position: absolute;
  width: 102px;
  height: 92px;
  top: 0;
  font-family: "Roboto Slab-Black", Helvetica;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-2 {
  left: 169px;
  color: #ffffff;
  position: absolute;
  width: 102px;
  height: 92px;
  top: 0;
  font-family: "Roboto Slab-Black", Helvetica;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-3 {
  left: 261px;
  color: #ffffff;
  position: absolute;
  width: 102px;
  height: 92px;
  top: 0;
  font-family: "Roboto Slab-Black", Helvetica;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .portfolio {
  position: absolute;
  width: 140px;
  height: 92px;
  top: -1px;
  left: 71px;
  font-family: "Roboto Slab-Black", Helvetica;
  font-weight: 900;
  color: transparent;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .span {
  color: #ffffff;
}

.frame .text-wrapper-4 {
  color: #f4fa1a;
}

.frame .text-wrapper-5 {
  position: absolute;
  width: 102px;
  height: 92px;
  top: -1px;
  left: 1269px;
  font-family: "Roboto Slab-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
